[slider-cut] .w-dyn-item, [static-cut]>div>div>div
    display flex !important
    flex-basis unset !important

.splide__list.w-dyn-items
    justify-content start
    grid-row-gap unset
    grid-column-gap unset

.os__thumb-slider, .moments__nav-slider
    .splide__track
        overflow visible !important

.os__thumb-slider
    .splide__list
        @media (min-width 768px)
            flex-direction column !important

.news__slider-w
    overflow visible !important

.splide__slide
    &, &.is-active
        border inherit !important
        border-width 0 !important

[tabs-attached] .w-tab-menu
    display none

[arrows-attached]
    .w-slider-arrow-left, .w-slider-arrow-right
        display none

html.lenis
    height auto

.lenis.lenis-smooth
    scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
    overscroll-behavior contain

.lenis.lenis-stopped
    overflow hidden

.lenis.lenis-scrolling iframe
    pointer-events none

.st-overflow
    overflow hidden

input//disable autofill
    color-scheme dark

    //font-size 2rem
    &:-webkit-autofill
        //-webkit-box-shadow 0 0 0px 1000px 131313 inset
        //transition background-color 5000s ease-in-out 0s
        //font-size inherit !important

canvas
    width 100% !important
    height 100% !important