.root {
}

.moment {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: gray;
  aspect-ratio: 1.64/1 !important;
  overflow: hidden;
  // transition: all 300ms;
  div,
  canvas {
    // transition: all 300ms;
  }
}
.moment__img {
  //   position: absolute;
  //   inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
